.aboutSection {
  width: 100%;
  height: 762px;
  padding: 178px 125px 150px;
  position: relative;
}

.aboutSection .about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 67px;
  position: relative;
}

.imagePart {
  position: relative;
}

.imagePart .aboutImage {
  width: 430px;
  height: 414px;
  border-radius: 15px;
  z-index: 111;
}

.box {
  width: 228px;
  height: 186px;
  border: 3px solid var(--whiteBgColor);
  position: absolute;
  bottom: 75px;
  right: 0;
  border-radius: 90% 50% 100% 50%;
}

.box .miniBox {
  width: 199px;
  height: 163px;
  background: var(--secondaryPrimaryBgColor);
  border-radius: 90% 50% 100% 50%;
  position: absolute;
  top: 10px;
  left: 13px;
}

.text p {
  color: var(--whiteBgColor);
  font-weight: 600;
  font-size: 15.54px;
  line-height: 2;
  text-transform: capitalize;
}

.textPart {
  width: 645px;
  height: 433px;
  gap: 22px;
  position: relative;
}

.textPart h2 {
  color: var(--primaryBgColor);
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.solutionText h1 {
  width: 657px;
  height: 78px;
  font-family: var(--plusJakartaSans);
  text-transform: capitalize;
  font-weight: 800;
  font-size: 38px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.solutionText p {
  width: 645px;
  height: 109px;
  color: var(--textGrayColor);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.clientText {
  display: flex;
  align-items: center;
  gap: 79px;
}

.client,
.awards {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 15px;
}

.client h1,
.awards h1 {
  -webkit-text-stroke: 1px var(--primaryBgColor);
  opacity: 0.6;
  color: transparent;
  font-size: 38px;
  font-weight: 800;
}

.blurCircle {
  width: 226px;
  height: 226px;
  background: var(--secondaryPrimaryBgColor);
  filter: blur(30px);
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: 70px;
  z-index: -11;
}

.heavyWaves {
  width: 151px;
  height: 31px;
  position: absolute;
  top: 486px;
  right: 0;
}

.spiral {
  width: 45px;
  height: 99px;
  position: absolute;
  top: 464.26px;
  left: 0;
}

.para {
  color: var(--secondGrayColor);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.aboutUs {
  width: 103px;
  height: 46px;
  gap: 7px;
  padding: 16px 20px;
  border-radius: 77px;
  color: var(--primaryBgColor);
}

.buttonPart {
  display: flex;
  align-items: center;
  margin-top: 22px;
  cursor: pointer;
}
